.inicio{
--opacidad-negro: 0.5;
background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../img/fondo3.webp");
background-position: center;
background-size: cover;
height:30rem;  
}
.a{
    .card{
            width: 18rem;
            border-radius: 10px;
    }
    .card-title{
        font-size: 1.5rem;
    }
}
.b{
    .card{
        width: 18rem;
        border-radius: 40px;
    }
    .card-title{
    font-size: 2rem;
    }
}

/* Mueve el contenido hacia la derecha */
.navbar-nav ms-auto mb-2 mb-lg-0{
    margin-left: 100px; /* Ajusta la cantidad de desplazamiento hacia la derecha que desees */
}






